/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

.todo-list {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.todo-list input[type="text"] {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid transparent;
  outline: none;
  width: 100%;
}

.todo-list button {
  padding: 7px 16px;
  font-size: 1rem;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.todo-list ul {
  list-style: none;
  padding: 0;
  margin-top: 1rem;
}

.todo-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  border-bottom: 1px solid #eee;
  font-size: 1.1rem;
}
.title{
    font-size: 70px;
    color: burlywood;
}
.todo-list li:last-child {
  border-bottom: none;
  color: cadetblue;
    font-size: 14px;
}

.todo-list .delete-btn {
  background-color: transparent;
  color: red;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
}
.done-btn {
  background-color: transparent;
  color: green;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
}
